In [10]:
import pandas as pd
import numpy as np
import yfinance as yf
import os

tech_sector = pd.read_csv("Data/tech_sector.csv")
tech_sector

,Rank,Name,Symbol,marketcap,price (USD),country
0,1,Apple,AAPL,2613550252032,160.15,United States
1,2,Microsoft,MSFT,2075883208704,276.90,United States
2,3,Alphabet (Google),GOOG,1608236793856,2432.90,United States
3,4,Amazon,AMZN,1463749312512,2878.34,United States
4,5,Tesla,TSLA,1029417271296,996.04,United States
...,...,...,...,...,...,...
730,731,Jump Networks,JUMPNET.NS,11669324,0.12,India
731,732,Cemtrex,CETX,10846338,0.44,United States
732,733,Pareteum Corporation,TEUM,1426969,0.01,United States
733,734,Justworks,JW,0,0.00,United States
734,735,Rhodium Enterprises,RHDM,0,0.00,United States

In [11]:
parent_dir = os.path.join(os.getcwd() , "Data")
parent_dir

'c:\\Users\\brian\\projects\\factor_models\\Data'

In [16]:
#grab the stock off of yahoo
stock = yf.Ticker(tech_sector["Symbol"].iloc[0])

#get the stocks return history
path = os.path.join(parent_dir, tech_sector["Symbol"].iloc[0])
if not(os.path.isdir(path)):
    os.mkdir(path)

#put the data regarding the stock into this folder
stock_prices = stock.history(period="max")
stock_prices.to_csv(path + "/stock_prices.csv")

#put the fundemental data into the folder
stock_balance_sheet = stock.quarterly_balance_sheet
stock_balance_sheet.to_csv(path + "/stock_balance_sheet.csv")

stock_sustainability = stock.sustainability
stock_sustainability.to_csv(path + "/sustainability.csv")

stock_finacials = stock.quarterly_financials
stock_finacials.to_csv(path + "/sustainability.csv")

stock_cashflow = stock.cashflow
stock_cashflow.to_csv(path + "/cashflow.csv")

stock_earning = stock.earnings
stock_earning.to_csv(path + "/earnings.csv")

stock_basicinfo = stock.info.items()
stock_basicinfo = list(stock_basicinfo)
stock_basic_df = pd.DataFrame(stock_basicinfo)
stock_basic_df = stock_basic_df.rename(columns={0: "info", 1: "value"})
stock_basic_df.to_csv(path + "/basic_info.csv")