In [31]:
import pandas as pd
import statsmodels.api as sm

In [33]:
df = pd.read_csv("Data/Processed/linear_reg_data.csv")
df = df.dropna().drop(columns=["Unnamed: 0"]).reset_index(drop=True)
df = df[df["Net Income"] > 1000000000]
df

,Change To Liabilities,Total Cash From Operating Activities,Net Borrowings,Total Cashflows From Investing Activities,Investments,Net Income,Total Liab,Total Assets,Retained Earnings,Cash,Net Receivables,Long Term Debt,Short Long Term Debt,Total Current Assets,Returns
0,-2.067230e+11,6.266689e+12,4.503500e+10,-6.350965e+12,-3.286883e+12,3.310823e+12,2.455460e+13,8.326905e+13,5.246040e+13,2.761977e+12,7.545234e+12,1.176780e+13,2.311561e+12,2.491050e+13,-0.215686
1,-1.101190e+11,4.549973e+12,1.655130e+11,-3.484309e+12,-2.414150e+11,1.984514e+12,2.283988e+13,7.771790e+13,4.915642e+13,2.666351e+12,6.522701e+12,1.153141e+13,2.167540e+12,2.009956e+13,-0.070632
2,1.891400e+10,3.206762e+12,1.900472e+12,-5.885210e+12,-1.747571e+12,9.904470e+11,2.273942e+13,7.511801e+13,4.717885e+13,2.226144e+12,5.379719e+12,1.078574e+13,2.658938e+12,1.838488e+13,0.080321
3,3.116740e+11,3.261827e+12,-5.049000e+10,-2.979418e+12,-4.332600e+10,1.766796e+12,1.926476e+13,7.117385e+13,4.699573e+13,2.975989e+12,5.241949e+12,8.199087e+12,2.934671e+12,1.657095e+13,0.427711
4,1.027017e+12,2.063545e+13,-1.333413e+12,8.722370e+11,1.575785e+13,1.064379e+13,1.217212e+14,4.266212e+14,2.930648e+14,3.903142e+13,4.521067e+13,5.097320e+11,5.180650e+11,2.181632e+14,0.059540
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,1.400000e+06,4.650000e+07,4.968000e+08,-6.604000e+08,3.010000e+07,-4.060000e+07,4.773400e+09,6.608100e+09,-3.210000e+07,1.968000e+08,1.212000e+08,1.232400e+09,5.300000e+06,4.087000e+08,0.178077
496,2.100000e+07,8.860000e+07,4.968000e+08,2.000000e+07,5.790000e+07,9.300000e+06,1.831600e+09,2.823300e+09,8.500000e+06,3.329000e+08,1.145000e+08,7.395000e+08,6.500000e+06,5.300000e+08,0.079830
497,4.440000e+07,9.300000e+07,-6.400000e+06,-9.900000e+07,-9.410000e+07,3.200000e+06,1.600100e+09,2.547000e+09,-8.000000e+05,2.291000e+08,1.184000e+08,7.392000e+08,7.800000e+06,4.855000e+08,0.020408
498,-2.451000e+06,1.025100e+07,-1.111000e+06,-5.616000e+06,-3.995000e+06,-1.766100e+07,2.426200e+08,4.141270e+08,-4.816830e+08,1.011160e+08,6.131200e+07,5.740000e+05,4.397000e+06,2.866320e+08,0.114943
499,2.319500e+07,3.135000e+06,-1.110000e+06,-1.907500e+07,-1.800500e+07,-1.879100e+07,2.495940e+08,4.215070e+08,-4.640220e+08,9.411000e+07,8.058500e+07,1.666000e+06,4.397000e+06,2.937400e+08,0.512821

In [26]:
columns = df.columns.values.tolist()
columns.remove("Returns")
X = df[columns]
y = df["Returns"]

X = sm.add_constant(X)
results = sm.OLS(y, X).fit()
output = results.params/abs(results.params.iloc[1])
output

const                                        9.140611e+11
Change To Liabilities                       -1.000000e+00
Total Cash From Operating Activities         1.351298e+00
Net Borrowings                              -1.991888e+00
Total Cashflows From Investing Activities   -4.411001e+00
Investments                                  2.564988e+00
Net Income                                  -3.986257e+00
Total Liab                                   3.498029e-01
Total Assets                                -2.967563e-01
Retained Earnings                            2.671895e-01
Cash                                         3.151412e+00
Net Receivables                              1.945539e+00
Long Term Debt                              -1.170602e+00
Short Long Term Debt                         2.874320e-01
Total Current Assets                        -1.049530e+00
dtype: float64

Perhaps this tells us that for large cap tech companies fundemental factors are not such a good indicator of performance, lets see if anything changes if we normalize the values before pluggin them into the regression

In [30]:
df = pd.read_csv("Data/Processed/predict_linear_reg_data.csv")
df = df.dropna().drop(columns=["Unnamed: 0"]).reset_index(drop=True)
df

Empty DataFrame
Columns: [Unnamed: 0, Change To Liabilities, Net Borrowings, Investments, Net Income, Total Liab, Total Assets, Retained Earnings, Cash, Net Receivables, Total Current Liabilities, Total Current Assets, Good Will, Returns]
Index: []